<div class="items-and-input-container">
    <div class="list-of-items">
        <div class="list-of-items-top"></div>
        <div *ngFor="let task of tasks; let i = index">
            <div [className]="task.isBeingDeleted === false ? 'animate__animated animate__backInRight animate__faster' : 'animate__animated animate__fadeOutRight animate__fast'">
                <div *ngIf="!task.completed" class="list-item-container">
                    <div class="item-checkbox-container centered">
                        <div *ngIf="renderTimeIcon(i)" class="clock-attribute centered">
                            <i class="far fa-clock"></i>
                        </div>
                        <input type="checkbox" (click)="checkItem(i)">
                    </div>
                    <div class="text-container">
                        <div *ngIf="(task.task.length < 20)" class="list-item-text">
                            {{task.task}}
                        </div>
                        <div *ngIf="(task.task.length >= 20 && 24 > task.task.length)" class="list-item-text" style="font-size:1.5rem">
                            {{task.task}}
                        </div>
                        <div *ngIf="(task.task.length >= 24)" class="list-item-text" style="font-size:1.2rem;letter-spacing:-1px">
                            {{task.task}}
                        </div>
                        <div class="list-item-tooltip">
                            <i class="far fa-clock"></i><span>{{returnRelativeTime(i)}}</span>
                        </div>
                    </div>
                    <div class="remove-list-item centered" (click)="deleteItem(i)">
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>

                <div *ngIf="task.completed" class="list-item-container list-item-container-checked">
                    <div class="item-checkbox-container centered">
                        <input type="checkbox" checked (click)="checkItem(i)">
                    </div>
                    <div class="text-container">
                        <div *ngIf="(task.task.length < 20)" class="list-item-text">
                            {{task.task}}
                        </div>
                        <div *ngIf="(task.task.length >= 20 && 24 > task.task.length)" class="list-item-text" style="font-size:1.5rem">
                            {{task.task}}
                        </div>
                        <div *ngIf="(task.task.length >= 24)" class="list-item-text" style="font-size:1.2rem;letter-spacing:-1px">
                            {{task.task}}
                        </div>
                    </div>
                    <div class="remove-list-item centered" (click)="deleteItem(i)">
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-of-items-bottom"></div>
    </div>
    <app-input-container (addTask)="addTask($event)"></app-input-container>
</div>