<div>

  <div *ngIf="!hideListTitleModal" class="list-title-change-modal centered">
    <div class="button-close" (click)="closeListTitleModal(false)">&times;</div>
    <div class="modal-input-box centered">
      <form name="listTitleForm" class="list-title-form">
        <div class="form-label">Name your list:</div>
        <input type="text" name="listTitle" #listTitleInput [(ngModel)]="listTitle" maxLength="30">
        <div class="button-save" (click)="closeListTitleModal(true)">Save</div>
      </form>
    </div>
  </div>

  <app-install-modal></app-install-modal>
  
  <div class="container">
    <div class="header centered">
      <div class="install-button-container">
        <img src="assets/install.png" alt="install"/>
      </div>
    </div>
    <div class="list-title" (click)="showListTitleModal()">
      <span *ngIf="listTitle.length < 10">{{listTitle}}</span>
      <span *ngIf="listTitle.length >= 10 && listTitle.length < 15" style="font-size: 4rem;">{{listTitle}}</span>
      <span *ngIf="listTitle.length >= 15 && listTitle.length < 20" style="font-size: 3rem;">{{listTitle}}</span>
      <span *ngIf="listTitle.length >= 20 && listTitle.length <= 30" style="font-size: 2rem;">{{listTitle}}</span>
    </div>
    <app-items-list></app-items-list>
  </div>
</div>
